<h1>Welcome to Rock, Paper, Scissors!</h1>
<p>Think XBoxes are fun? You haven't lived yet! Just you wait 'til those fists start a pumpin'...</p>
<br>
<p> Rules:</p>
<ol>
  <li>If each player fields the same symbol, it's a draw!</li>
  <li>Rock beats scissors</li>
  <li>Rock loses to paper</li>
  <li>Scissors beat paper</li>
  <li>Scissors loses to rock</li>
  <li>Paper beats rock</li>
  <li>Paper loses to scissors</li>
</ol>